.hoverable {
  cursor: pointer;
  transition: opacity 300ms;
  &:hover {
    opacity: 0.6;
  }
}

$standard-minimal-width: 17rem;
$minimal-miniature-width: calc(1.25 * #{$standard-minimal-width});
$article-width: calc(2.3 * #{$standard-minimal-width});
$mobile-threshold: calc(#{$article-width} * 1.14);
