.hoverable {
  cursor: pointer;
  transition: opacity 300ms;
  &:hover {
    opacity: 0.6;
  }
}

$standard-minimal-width: 17rem;

$article-miniature-height: 10rem;
$minimal-miniature-width: calc(2 * #{$article-miniature-height});

$page-content-max-width: calc(#{$minimal-miniature-width} * 4);

$article-width: calc(2.3 * #{$standard-minimal-width});
$mobile-threshold: calc(#{$article-width} * 1.14);
